<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a data-target="#cadastro_livros" data-toggle="tab">Cadastro</a></li>
        <li role="presentation"><a data-target="#dados_livros" data-toggle="tab">Dados</a></li>
      </ul>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Cadastro de Livro</h3>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="cadastro_livros">
              <form>
                <div class="form-group">
                  <label for="Codigoo">Código</label>
                  <input type="text" disabled class="form-control" ng-model="livro.codigo">
                </div>
                <div class="form-group">
                  <label for="nome">Nome</label>
                  <input type="text" class="form-control" placeholder="Nome" ng-model="livro.nome">
                </div>
                <div class="form-group">
                  <label for="autor">Autor</label>
                  <select
                      id="autor"
                      class="form-control"
                      ng-model="livro.codAutor"
                      ng-options="autor.codigo as autor.nome for autor in autores">
                  </select>
                </div>
                <div class="form-group">
                  <label for="categoria">Categoria</label>
                  <select
                      id="categoria"
                      class="form-control"
                      ng-model="livro.codCategoria"
                      ng-options="categoria.codigo as categoria.descricao for categoria in categorias">
                  </select>
                </div>
                <div class="form-group">
                  <label for="nome">Edição</label>
                  <input type="text" class="form-control" placeholder="Edição" ng-model="livro.edicao">
                </div>
                <div class="form-group">
                  <label for="nome">Ano</label>
                  <input type="text" class="form-control" placeholder="Ano" ng-model="livro.ano">
                </div>
                <div class="form-group">
                  <label for="nome">Quantidade</label>
                  <input type="number" class="form-control" placeholder="Quantidade" ng-model="livro.qtde">
                </div>
                <button type="submit" class="btn btn-default" ng-click="registra(livro)">
                    {{livro.codigo ? 'Atualizar' : 'Registrar'}}
                </button>
                <button type="button" class="btn btn-default" ng-click="limpa()">
                    Limpa
                </button>
              </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="dados_livros">
              <table class="table table-hover">
                <tr>
                  <th>Código</th>
                  <th>Nome</th>
                  <th>Autor</th>
                  <th>Categoria</th>
                  <th>Ano</th>
                  <th>Edição</th>
                  <th></th>
                </tr>
                <tr ng-repeat="livro in livros track by livro.codigo" ng-click="seleciona(livro);">
                  <td>{{livro.codigo}}</td>
                  <td>{{livro.nome}}</td>
                  <td>{{livro.nomeAutor}}</td>
                  <td>{{livro.nomeCategoria}}</td>
                  <td>{{livro.ano}}</td>
                  <td>{{livro.edicao}}</td>
                  <td>
                    <button class="btn btn-default btn-sm"
                            ng-click="remove(livro); $event.stopPropagation();">
                      <span class="glyphicon glyphicon-remove"></span> Remover
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
    </div>
</div>
